@import url('https://fonts.googleapis.com/css2?family=REM:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@900&family=Staatliches&display=swap');

body {
    background-color: #121926;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    position: relative;
    color: #fff;

}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20em;
    margin: 0;
    font-family: 'REM', sans-serif;
    text-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    color: #ffe200;
}

header .background {
    opacity: 10%;

}

header div {
    font-family: "REM", sans-serif;
    font-size: 3.5em;

    white-space: nowrap;
}

header .odd {
    translate: -300vw;
}

.quiz {
    width: 80%;
    margin-left: 10%;
    height: 50vh;
    border-radius: 10px;
    background-color: #fff;
}

.quiz h2 {
    text-align: center;
    padding-top: 160px;
    font-size: 200px
}



.careers {
    display: flex;
    justify-content: space-around;
}

.career {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 200px;
    position: relative;
}

section h2 {
    margin-top: 350px;
    margin-bottom: 200px;
    text-align: center;
    font-family: 'REM', sans-serif;
    text-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    color: #ffe200;
    font-size: xx-large;
}

h3 {
    position: absolute;
    bottom: 2%;
    left: 5%;
    font-family: 'REM', sans-serif;
    text-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    color: #ffe200;
}


.animator:hover {
    scale: 2;
    background: url(./Animator.jpg);
}

.graphicDesigner:hover {
    scale: 2;
    background: url(./Animator.jpg);
}