body {
    background-color: #121926;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
}

#NAITBanner {

    position: fixed;
    left: 5%;
    top: 0;
}

.header {
    width: 100vw;
    height: 100vh;
    position: sticky;
    background-color: #121926;
    z-index: -1;
    top: 0;
}

.container {
    background-color: aliceblue;
    min-width: 400px;
    width: 80vw;
    height: 80vh;

    border-radius: 10px;
    margin: 30vh auto;
}