body {
    background-color: #121926;
}

#NAITBanner {

    position: fixed;
    left: 5%;
    top: 0;
}

.container {
    background-color: aliceblue;
    min-width: 400px;
    width: 90vw;
    height: 90vh;

    border-radius: 10px;
    margin: 10vh auto;
}